@media(min-width:380px) and (max-width:769px){
    .webpage{
        flex-direction: column;
    }

    .container{
        margin-left: 24%;
    }

    .sidebar{
        margin-left: 24%;
    }

    .avtcon{
        width: 38%;
    }

    .col-hafl .form-control1, .col-hafl .form-control2, .col-hafl .form-control3, .col-hafl .form-control4 {
       padding: 12px ;
    }

    .col-hafl .icon {
        padding-right: 30px;
        
    }

}


@media (max-width:375px){
    .webpage{
        flex-direction: column;
    }

    .container{
        width: 70%;
        flex: 1;
        font-size: 10px;
    }

    .container .soccials{
       margin-bottom: 46px;
    }

    .sidebar{
        margin-left: 16%;
        height: 54%;
        width: 70%;
        flex: 3;
    }

    .row{
        margin-top: 76%;
        margin-left: 6px;
    }

    .col-hafl .icon {
        padding-right: 30px;
    }

    .avtcon{
        width: 38%;
    }
}